.contact-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;

  h3 {
    text-align: left;
    margin: 2rem 0 1rem 2rem;
    font-size: 24px;
    font-weight: 300;
 }
}
.contact-box {
 margin: 0;

 p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #333333;
 }
}