.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  flex: 1;
  justify-content: space-between;
  font-family: 'Montserrat';
}

.subtitle {
  font-size: 1.2rem;
  margin: 2rem;
  font-weight: 300;
  color: #000000;
}

.description-container {
  max-width: 1300px;
  margin: 0 auto; 
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.text-section {
  flex: 1;
  margin-left: 3rem;
  padding: 1rem;
}

.text-section p {
  margin: 3rem 0;
  font-size: 1rem;
  line-height: 1.6;
}

.divider {
    width: 2px;
    background-color: #929292;
}


.icon-section {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.icon-section h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: safe;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  text-align: center;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.amenity-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1rem;
  color: #000000;
}

.amenity-icon {
  color: #000000;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreButton .button-link{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #000000;
  font-size: 1rem;
  text-decoration: none;
  gap: 0.3rem;
}
.contact-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding: 2rem;
}
.button-link-contact {
  width: 18rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 15px;
  color: #ffffff;
  background-color: #E08401;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease;
  }
  &:hover::after {
    transform: scale(1);
  }
}
.map-container{
  margin-top: 3rem;
  padding: 1rem;
  width: 100%;
  height: 30rem;
}
.reviews-box{
  width: 100%;
}