.boxCarrousel{
  background-color: #505801;
  width: 100%;
}

.carrousel-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #505801;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.image-wrapper img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.nav-button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #6f6f6f;
}
