@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overlock+SC&display=swap');

*{
  margin: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}


body{
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat' sans-serif;
}
.navBar a {
  color: white !important;
  text-decoration: none !important;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
