*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #2b2b2b;
}
.leaflet-container {
    height: 30rem;
    width: 90%;
    border-radius: 10px;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .text-box {
    margin-top: 10rem;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: left;
    padding-right: 79%;
  }
  
  .google-maps-link {
    font-size: 1rem;
    font-weight: 300;
    color: #646464;
    margin-top: 1rem;
    padding-right: 79%;
  }
  
  .google-maps-link a {
    color: #434343;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .google-maps-link a:hover {
    color: #2b2b2b;
  }
  .custom-marker i {
    display: block;
    text-align: center;
    line-height: 30px;
  }
.more-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    margin: 2rem 2rem;
}
.list-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 1.5rem;
    width: 100%;
}


  @media (max-width: 768px) {
    .leaflet-container {
      height: 18rem;
      width: 95%;
    }
  
    .text-box {
      font-size: 1rem;
      padding-left: 3%;
    }
  }
  